# Environment variables
.env
backend/.env
frontend/.env

# Python
__pycache__/
*.pyc
.pytest_cache/
venv/
backend/venv/

# Database
*.db

# Node
node_modules/
frontend/node_modules/
dist/

# IDE
.vscode/